@import "tailwindcss";
@import "@fontsource/montserrat";


html,
body,
#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.mt-auto {
  margin-top: auto;
}