@import "tailwindcss";
@import "@fontsource/montserrat";


html,
body,
#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.mt-auto {
  margin-top: auto;
}


@media print {
  @page {
    size: A4;
    margin: 15mm 10mm; /* Căn lề chuẩn cho máy in */
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    background: white !important;
  }

  .page-wrapper {
    page-break-after: always !important;
    min-height: 277mm !important; /* Chiều cao khổ A4 trừ margin */
    position: relative;
    box-sizing: border-box;
  }

  /* Tắt mọi hiệu ứng và layout đặc biệt */
  * {
    overflow: visible !important;
    float: none !important;
    /* position: static !important; */
    /* display: block !important; */
  }

  /* Ẩn header và footer */
  header, .print-hidden {
    display: none !important;
  }

 
}